body {
    background-color: violet;
}

p{
    font-size: 180%;
    color: black;
    text-align: center;
    border: 4px solid black;
    border-style: double;
    margin: 50px;
    padding: 99px;
}

h1 {
    border: 9px solid lightgray;
    font-size: 250%;
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 0 auto;
    width= 500px;
    height= 580px;
}

ul {
    list-style-type:circle;
    line-height:180%;
}

h5 {
    text-align: center;
}

span {
	border: 1px solid black;
}
    
