body {
    background-color: violet;
}

p{
    font-size: 180%;
    color: black;
    text-align: center;
    border: 4px solid black;
    margin: 50px;
    padding: 99px;
}

h1 {
    border: 9px solid lightgray;
    font-size: 250%;
    text-align: center;
}

h3 {
    text-align: center;
}

img src="instruments.jpg" {
    float: middle;
}
