body {
    background-color: violet;
}

p{
    font-size: 200%;
    color: black;
    border: 4px solid black;
    margin: 50px;
    padding: 99px;
}

h1 {
    border: 9px solid lightgray;
    font-size: 250%;
}
